body {
    margin:0px;
    padding:0px;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

#header {
    height: 40px;
    width: 100%;
    background-color: #fff;
}

.wrapper #header {
    position: absolute;
}

.wrapper #window_title {
    padding-top: 49px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 0;
}