img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#tr_photo {
    position: relative;
    width: 320px;
    height: 250px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid darkgray;
    background-color: darkgray;
}

#tr_photo img {
    vertical-align: middle;
}

#profile_table {
    width: 322px;
}

table, td {
    border: 1px solid darkgray;
}

#td_left {
    width: 90px;
    text-align: right;
    vertical-align: center;
}

#td_right {
    padding: 0px 3px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}